
body {
    font-family:    "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

a {
    color: blue;
}


img {
    width:  100%;
}


table {
    margin-left:    auto; 
    margin-right:   auto;
}

td {
    text-align:     center;
    padding-left:   10px;
    padding-right:  10px;
    margin:         0px;
}

.banner {
    #position:   absolute;
    display:    table;
    padding:    0 4%;
    margin:     0 auto;
}
.logo {
    position:   relative;
    width:      200px;
    float:      left;
}
.nav-menu {
    position:   relative;
    float:      right;
}
.nav-menu-item {
    display:    inline;
    padding:    20px;
}

.navigation {
    float:      left;
    width:      17%;
}

.content {
    float:      right;
    width:      83%;
}

.index-content {
    width:      90%;
    padding:    20px;   
}


.container {
    padding-bottom:     50px;
}

.searchHorizontal
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.seriesListing {
    width:      70%;
    padding-left: 5%;
}

.searchResultSeries {
    width:      90%;
    padding-bottom: 10px;
    padding-left:       2%;
}

.alias {
    font-style: italic;
    float: right;
}

#   list view differences
.ulFirst {
    background-color: #eee;
}
.oddTable {
    background-color: #eee;
}

.seriesOverview {
    padding-left:   10%;
}

.searchHead {
}
