
body {
    font-family:    "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size:  0.9em
}

a {
    color: DodgerBlue;
}

.linkDelete {
    color:  Crimson;
}

.linkUpdate {
    color:  DodgerBlue;
}

.dbActions li {
    display:    inline;    
    margin:     0px 50px;
}

img {
    margin-left:    auto;
    margin-right:   auto;
    display:        block;
}


table {
    margin-left:    auto; 
    margin-right:   auto;
}

td {
    text-align:     center;
    padding-left:   10px;
    padding-right:  10px;
    margin:         0px;
}

.banner {
    #position:   absolute;
    display:    table;
    padding:    0 4%;
    margin:     0 auto;
}
.logo {
    position:   relative;
    width:      200px;
    float:      left;
}
.nav-menu {
    position:   relative;
    float:      right;
}
.nav-menu-item {
    display:    inline;
    padding:    20px;
}

.navigation {
    float:      left;
    width:      17%;
    font-size:  0.9em;
}
.navigation ol li {
    margin:     2px;
}

.content {
    float:      right;
    width:      83%;
}

.index-content {
    width:      90%;
    padding:    20px;   
}


.container {
    padding-bottom:     50px;
}

.searchHorizontal
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.seriesListing {
    width:      70%;
    padding-left: 5%;
}

.seriesListingBanners li {
    display:    inline;
}
.seriesListingBanners img {
    width:      49%;
    display:    inline;
}

.searchResultSeries {
    width:      90%;
    padding-bottom: 10px;
    padding-left:       2%;
}

.searchHead {
    float:  left;
}

.alias {
    font-style: italic;
    float: right;
}

#   list view differences
li.ulFirst {
    background-color: #eee;
}
.oddTable {
    background-color: #eee;
}

.seriesOverview {
    padding-left:   10%;
}
