
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'distracted/style.css' %}" />

<div class="container">

    <p class="seriesHead">
        {{ series.name }}
    </p>

    {% if series_list %}
        <p class="seriesAlias">
            {{ series.alias }}
        </p>
    {% endif %}

    {% if series_list %}
        <p class="seriesAired">
            {{ series.first_aired }}
        </p>
    {% endif %}

    {% if series.overview %}
        <p class="seriesOverview">
            {{ series.overview }}
        </p>
    {% endif %}
</div>


<div class="back">
    <a href={% url 'distracted:index' %}>
        go back
    </a>
</div>
