
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'distracted/style.css' %}" />


<div class="container">
    <div>
        <img src="http://thetvdb.com/banners/{{ series.banner }}" />
    
        {# placed here because it floats right #}    
        <p class="alias">
            {{ series.status }}
        </p>
        <p class="seriesHead">
            {{ series.id }}: {{ series.name }}
        </p>


        {# placed here because it floats right #}    
        <p class="alias">
            {{ series.rating }} - {{ series.ratingCount }} voters
        </p>
        <p class="seriesHead">
            {{ series.firstAired }} - {{ series.network }}
        </p>

        {# placed here because it floats right #}    
        <p class="alias">
            Runtime: {{ series.runtime }} min
        </p>
        <p class="seriesHead">
            last updated: {{ series.lastUpdate }}
        </p>

        <p class="seriesOverview">
            {{ series.overview }}
        </p>
        
        <table>
            <tr class="oddTable">
                <td >Id</td>
                <td>Season</td>
                <td>Episode</td>
                <td>Title</td>
                <td>Director</td>
                <td>Aired</td>
                <td>Rating</td>
                <td>Voters</td>
                <td>SeasonID</td>
                <td>SeriesID</td>
            </tr>
            {% for episode in episodes %}
            <tr {% if forloop.counter|divisibleby:2 %}class="oddTable"{% endif %}>
                <td>{{ episode.id }}</td>
                <td>{{ episode.seasonNumber }}</td>
                <td>{{ episode.episodeNumber }}</td>
                <td>{{ episode.episodeName }}</td>
                <td>{{ episode.director }}</td>
                <td>{{ episode.firstAired }}</td>
                <td>{{ episode.rating }}</td>
                <td>{{ episode.ratingCount }}</td>
                <td>{{ episode.seasonid }}</td>
                <td>{{ episode.seriesid }}</td>
            </tr>
            {% endfor %}
        </table>        
    </div>
</div>


<div class="back">
    <a href={% url 'distracted:search' %}>
        go back
    </a>
</div>
