
{% extends "distracted/base.html" %}

{% block title %}disract_ed - Search{% endblock %}

{% block content %}
<div class="container">
    {% for series in seriesList %}
        <div class="searchResultSeries">
            <img src="http://thetvdb.com/banners/{{ series.banner }}" />

            {# placed here because it floats right #}
            <p class="alias">
                {{ series.alias }}
            </p>

            <p class="seriesHead">
                <a href="{% url 'distracted:searchDetail' series.id %}">
                {{ series.id }}: {{ series.name }}
                </a>
            </p>

            <p class="seriesNetwork">
                {{ series.firstAired }} - {{ series.network }}
            </p>

            <p class="seriesOverview">
                {{ series.overview }}
            </p>
        </div>
        <p>&nbsp;</p>
    {% endfor %}
</div>


<div class="back">
    <a href={% url 'distracted:search' %}>
        go back
    </a>
</div>
{% endblock %}
