
{% extends "distracted/base.html" %}

{% block title %}disract_ed - Search{% endblock %}

{% block content %}
<div>
    <p class="searchHead"><h2>Search for TV Series</h2></p>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">Theres was an error:<br \>
            {{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'distracted:searchResult' %}" method="post">
        {% csrf_token %}
        <ul>
            <ul class="searchHorizontal">
                <li>Name</li>
                <li><input type="text" name="seriesName"></li>
            </ul>
            <ul class="searchHorizontal">
                <li><input type="submit" value="Search" /></li>
            </ul>
       </ul>
    </form>
</div>


<div>
    <a href={% url 'distracted:index' %}>back to index</a>
</div>
{% endblock %}
