
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'distracted/style.css' %}" />


<div class="container">
    <p><b>Results</b></p>

    <p class="seriesHead">
        {{ seriesId }}: {{ seriesName }}
    </p>


    {% if seriesAired %}
        <p class="seriesAired">
            {{ seriesAired }}
        </p>
    {% endif %}

    {% if seriesOverview %}
        <p class="seriesOverview">
            {{ seriesOverview }}
        </p>
    {% endif %}
</div>


<div class="back">
    <a href={% url 'distracted:search' %}>
        go back
    </a>
</div>
