
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'distracted/style.css' %}" />

<div>
    <p class="searchHead">Search for TV Series</p>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">Theres was an error:<br \>
            {{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'distracted:searchResult' %}" method="post">
        {% csrf_token %}
        <ul>
            <ul class="searchHorizontal">
                <li>Name</li>
                <li><input type="text" name="seriesName"></li>
            </ul>
            <ul class="searchHorizontal">
                <li><input type="submit" value="Search" /></li>
            </ul>
       </ul>
    </form>
</div>


<div>
    <a href={% url 'distracted:index' %}>back to index</a>
</div>
