{% extends "distracted/base.html" %}

{% block title %}disract_ed - {{ series.name }}{% endblock %}

{% block content %}
<div class="container">
    <div>
        {% if messages %}
            {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    
    
        <img src="http://thetvdb.com/banners/{{ series.banner }}" />
    
        {# placed here because it floats right #}    
        <p class="alias">
            {{ series.status }}
        </p>
        <p class="seriesHead">
            {{ series.series_id }}: {{ series.name }}
        </p>


        {# placed here because it floats right #}    
        <p class="alias">
            {{ series.rating }} - {{ series.voters }} voters
        </p>
        <p class="seriesHead">
            {{ series.first_aired }} - {{ series.network }}
        </p>

        {# placed here because it floats right #}    
        <p class="alias">
            Runtime: {{ series.runtime }} min
        </p>
        <p class="seriesHead">
            last updated: {{ series.lastUpdate }}
        </p>

        <p class="seriesOverview">
            {{ series.overview }}
        </p>
        
        <p>
            <ul class="dbActions">
                <li><a class="linkUpdate">Update Data</a></li>
                <li><a class="linkDelete" href="{% url 'distracted:delete' series.id %}">Remove from Database</a></li>
            </ul></p>
        
        <table>
            <tr class="oddTable">
                <td>Id</td>
                <td>Season</td>
                <td>Episode</td>
                <td>Title</td>
                <td>Director</td>
                <td>Aired</td>
                <td>Rating</td>
                <td>Voters</td>
                <td>SeasonID</td>
                <td>SeriesID</td>
            </tr>
            {% for episode in episodes %}
            <tr {% if forloop.counter|divisibleby:2 %}class="oddTable"{% endif %}>
                <td>{{ episode.id }}</td>
                <td>{{ episode.season_id.seasonNumber }}</td>
                <td>{{ episode.episodeNumber }}</td>
                <td>{{ episode.episodeName }}</td>
                <td>{{ episode.director }}</td>
                <td>{{ episode.firstAired }}</td>
                <td>{{ episode.rating }}</td>
                <td>{{ episode.voters }}</td>
                <td>{{ episode.season_id_id }}</td>
                <td>{{ episode.series_id_id }}</td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <tr class="oddTable">
                <td>Id</td>
                <td>ImageURL</td>
                <td>Name</td>
                <td>Role</td>
                <td>SortOrder</td>
            </tr>
            {% for role in roles %}
            <tr {% if forloop.counter|divisibleby:2 %}class="oddTable"{% endif %}>
                <td>{{ role.actor.actor_id }}</td>
                <td>{{ role.image }}</td>
                <td><a href="{% url 'distracted:actorsDetail' role.actor.id %}">{{ role.actor.name }}</a></td>
                <td>{{ role.name }}</td>
                <td>{{ role.sort_order }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>


<div class="back">
    <a href={% url 'distracted:index' %}>
        go back
    </a>
</div>

{% endblock %}

