
{% extends "distracted/base.html" %}

{% block title %}disract_ed - All Series{% endblock %}

{% block content %}
{% if series_list %}
    <div class="series">
        <ol class="seriesListing">
            {% for series in series_list %}
            <li class="{% if forloop.counter|divisibleby:2 %}ulFirst{% else %}ulSecond{% endif %}">
                <p><a href="{% url 'distracted:detail' series.id %}">
                    {{ series.name }}
                </a></p>
                <p class="seriesOverview">
                    {{ series.overview }}
                </p>
            </li>
            {% endfor %}
        </ol>
    </div>
{% else %}
    <p>No Series are available.</p>
{% endif %}


{% endblock %}
